Description: Fixes SQLA version in requirements.txt
Author: Thomas Goirand <zigo@debian.org>
Forwarded: not-needed
Last-Update: 2014-03-09

--- keystone-2014.1~b3.orig/requirements.txt
+++ keystone-2014.1~b3/requirements.txt
@@ -9,7 +9,7 @@ PasteDeploy>=1.5.0
 Paste
 Routes>=1.12.3
 six>=1.4.1
-SQLAlchemy>=0.7.8,<=0.8.99
+SQLAlchemy>=0.7.8
 sqlalchemy-migrate>=0.8.2
 passlib
 lxml>=2.3
