Source: keystone
Section: net
Priority: extra
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Loic Dachary (OuoU) <loic@debian.org>,
           Julien Danjou <acid@debian.org>,
           Thomas Goirand <zigo@debian.org>,
           Ghe Rivero <ghe.rivero@stackops.com>,
           Mehdi Abaakouk <sileht@sileht.net>
Build-Depends: debhelper (>= 9),
               git,
               openstack-pkg-tools (>= 4),
               po-debconf,
               python-all (>= 2.6.6-3~)
Build-Depends-Indep: pep8 (>= 1.3.3),
                     pylint,
                     python-all-dev (>= 2.6.6-3~) | python-support,
                     python-babel,
                     python-coverage,
                     python-dateutil,
                     python-d2to1 (>= 0.2.10),
                     python-eventlet,
                     python-greenlet,
                     python-hacking,
                     python-httplib2,
                     python-iso8601,
                     python-keyring,
                     python-keystoneclient (>= 1:0.2.1),
                     python-ldap,
                     python-lxml,
                     python-memcache,
                     python-migrate,
                     python-mox,
                     python-netifaces,
                     python-nose,
                     python-nosexcover,
                     python-novaclient,
                     python-oslo.config,
                     python-pam,
                     python-passlib,
                     python-paste,
                     python-pastedeploy,
                     python-pbr,
                     python-prettytable,
                     python-requests (>= 1.0.0),
                     python-routes,
                     python-setuptools,
                     python-sphinx,
                     python-sqlalchemy,
                     python-sqlite,
                     python-swift,
                     python-swiftclient (>= 1:1.2.0),
                     python-unittest2,
                     python-webob (>= 1.2.3),
                     python-webtest
Standards-Version: 3.9.3
Homepage: http://keystone.openstack.org/
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/keystone.git;a=summary
Vcs-Git: git://anonscm.debian.org/openstack/keystone.git

Package: python-keystone
Architecture: all
Section: python
Pre-Depends: dpkg (>= 1.15.6~)
Depends: python-dateutil,
         python-d2to1 (>= 0.2.10),
         python-eventlet,
         python-greenlet,
         python-httplib2,
         python-iso8601,
         python-keystoneclient (>= 1:0.2.1),
         python-lxml,
         python-migrate,
         python-mysqldb,
         python-novaclient,
         python-oslo.config,
         python-pam,
         python-passlib,
         python-paste,
         python-pastedeploy,
         python-pastescript,
         python-pbr,
         python-prettytable,
         python-routes,
         python-sqlalchemy,
         python-sqlite,
         python-webob (>= 1.2.3),
         ${misc:Depends},
         ${python:Depends}
Recommends: python-ldap, python-memcache
Description: OpenStack identity service - library
 This is the identity service used by OpenStack for authentication (authN)
 and high-level authorization (authZ). It currently supports token-based
 authN with user/service authZ, and is scalable to support OAuth, SAML,
 and OpenID in future versions. Out of the box, Keystone uses SQLite for
 its identity store database, with the option to connect to external LDAP.
 .
 This package contains the Python libraries.

Package: keystone
Architecture: all
Section: python
Pre-Depends: dpkg (>= 1.15.6~)
Depends: adduser,
         dbconfig-common,
         python-configobj,
         python-keystone (= ${source:Version}),
         ssl-cert (>= 1.0.12),
         sqlite3,
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Description: OpenStack identity service
 This is the identity service used by OpenStack for authentication (authN)
 and high-level authorization (authZ). It currently supports token-based
 authN with user/service authZ, and is scalable to support OAuth, SAML,
 and OpenID in future versions. Out of the box, Keystone uses SQLite for
 its identity store database, with the option to connect to external LDAP.
 .
 This package contains the daemons.

Package: keystone-doc
Architecture: all
Section: doc
Pre-Depends: dpkg (>= 1.15.6~)
Depends: libjs-jquery, libjs-underscore, ${misc:Depends}
Description: OpenStack identity service - documentation
 This is the identity service used by OpenStack for authentication (authN)
 and high-level authorization (authZ). It currently supports token-based
 authN with user/service authZ, and is scalable to support OAuth, SAML,
 and OpenID in future versions. Out of the box, Keystone uses SQLite for
 its identity store database, with the option to connect to external LDAP.
 .
 This package contains the documentation.
