Source: keystone
Section: net
Priority: extra
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Loic Dachary (OuoU) <loic@debian.org>,
           Julien Danjou <acid@debian.org>,
           Thomas Goirand <zigo@debian.org>,
           Ghe Rivero <ghe.rivero@stackops.com>,
           Mehdi Abaakouk <sileht@sileht.net>
Build-Depends: debhelper (>= 7.0.50),
 git-core,
 pep8,
 po-debconf,
 pylint,
 python-all (>= 2.6.6-3~),
 python-all-dev (>= 2.6.6-3~) | python-support,
 python-dateutil,
 python-eventlet,
 python-keystoneclient,
 python-ldap,
 python-lxml,
 python-setuptools,
 python-memcache,
 python-migrate,
 python-mox,
 python-nose,
 python-novaclient,
 python-pam,
 python-passlib,
 python-paste,
 python-pastedeploy,
 python-prettytable,
 python-routes,
 python-sphinx,
 python-sqlalchemy,
 python-swift,
 python-unittest2,
 python-webob,
 python-webtest,
 python-iso8601
Standards-Version: 3.9.3
Homepage: http://launchpad.net/keystone
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/keystone.git;a=summary
Vcs-Git: git://anonscm.debian.org/openstack/keystone.git

Package: python-keystone
Architecture: all
Section: python
Depends: ${python:Depends}, ${misc:Depends},
 python-dateutil,
 python-eventlet,
 python-greenlet,
 python-httplib2,
 python-keystoneclient,
 python-lxml,
 python-pam,
 python-passlib,
 python-paste,
 python-pastescript,
 python-pastedeploy,
 python-prettytable,
 python-routes,
 python-sqlalchemy,
 python-migrate,
 python-webob,
 python-sqlite,
 python-novaclient
Recommends: python-memcache, python-ldap
Description: OpenStack identity service - library
 This is the identity service used by OpenStack for authentication (authN)
 and high-level authorization (authZ). It currently supports token-based
 authN with user/service authZ, and is scalable to support OAuth, SAML,
 and OpenID in future versions. Out of the box, Keystone uses SQLite for
 its identity store database, with the option to connect to external LDAP.
 .
 This package contains the Python libraries.

Package: keystone
Architecture: all
Section: python
Depends: ${python:Depends}, ${misc:Depends},
 ${ostack-lsb-base},
 python-keystone (= ${source:Version}),
 adduser,
 ssl-cert (>= 1.0.12),
 dbconfig-common,
 python-keystoneclient,
 confget
Description: OpenStack identity service
 This is the identity service used by OpenStack for authentication (authN)
 and high-level authorization (authZ). It currently supports token-based
 authN with user/service authZ, and is scalable to support OAuth, SAML,
 and OpenID in future versions. Out of the box, Keystone uses SQLite for
 its identity store database, with the option to connect to external LDAP.
 .
 This package contains the daemons.

Package: keystone-doc
Architecture: all
Section: doc
Depends: ${misc:Depends},  libjs-jquery, libjs-underscore
Description: OpenStack identity service - documentation
 This is the identity service used by OpenStack for authentication (authN)
 and high-level authorization (authZ). It currently supports token-based
 authN with user/service authZ, and is scalable to support OAuth, SAML,
 and OpenID in future versions. Out of the box, Keystone uses SQLite for
 its identity store database, with the option to connect to external LDAP.
 .
 This package contains the documentation.
