#!/bin/sh
set -e

. /usr/share/debconf/confmodule

### Reading of values in the keystone config file       ###
### and setting default for dbconfig-common accordingly ###
KEY_CONF=/etc/keystone/keystone.conf

if [ -e "${KEY_CONF}" ] ; then
	KEY_CONF_AUTH_TOKEN=`grep -E "^([ \t])*admin_token([ \t])*=([ \t])*" ${KEY_CONF} | awk '{print $3}'`
	if [ -n "${KEY_CONF_AUTH_TOKEN}" ] ; then
		db_set keystone/auth-token ${KEY_CONF_AUTH_TOKEN}
	fi
	KEY_CONF_DB_CON_INFO=`grep -E "^([ \t])*connection([ \t])*=([ \t])*" ${KEY_CONF} | awk '{print $3}'`
	KEY_CONF_DB_TYPE=`echo ${KEY_CONF_DB_CON_INFO} | cut -d":" -f1`
	case "${KEY_CONF_DB_TYPE}" in
	*)
		# If we have an undefined SQL type, we go back to a more sane default (eg: SQLite)
		KEY_CONF_DB_PATH=/var/lib/keystone/keystone.sqlite
		KEY_CONF_DB_TYPE="sqlite"
	"sqlite")
		if [ "${KEY_CONF_DB_CON_INFO}" = "sqlite:///keystone.db" ] ; then
			KEY_CONF_DB_CON_INFO="sqlite:///var/lib/keystone/keystone.sqlite"
		fi
		KEY_CONF_DB_PATH=`echo "${KEY_CONF_DB_CON_INFO}" | awk '{print substr($0,10)}'`
		if [ -z "${KEY_CONF_DB_PATH}" ] ; then
			KEY_CONF_DB_PATH=/var/lib/keystone/keystone.sqlite
		fi
		dbc_basepath `dirname "${KEY_CONF_DB_PATH}"`
		dbc_dbname `basename "${KEY_CONF_DB_PATH}"`
	;;
	"mysql")
	"pgsql")
		# Later, the postinst does: mysql://$dbc_dbuser:$dbc_dbpass@${dbc_dbserver:-localhost}$dbport/$dbc_dbname
		# so we are supposed to parse that if it exists
		KEY_CONF_ADDR=`echo "${KEY_CONF_DB_CON_INFO}" | awk '{print substr($0,9)}'`
		KEY_CONF_BEFORE_AT=`echo "${KEY_CONF_ADDR}" | cut -d"@" -f1`
		KEY_CONF_AFTER_AT=`echo "${KEY_CONF_ADDR}" | cut -d"@" -f1`

		KEY_CONF_USER=`echo "${KEY_CONF_BEFORE_AT}" | cut -d":" -f1`
		KEY_CONF_PASS=`echo "${KEY_CONF_BEFORE_AT}" | cut -d":" -f2`
		KEY_CONF_SERVER_PORT=`echo "${KEY_CONF_AFTER_AT}" | cut -d"/" -f1`
		KEY_CONF_DB_NAME=`echo "${KEY_CONF_AFTER_AT}" | cut -d"/" -f2`

		KEY_CONF_SERVER=`echo "${KEY_CONF_SERVER_PORT}" | cut -d":" -f1`
		KEY_CONF_PORT=`echo "${KEY_CONF_SERVER_PORT}" | cut -d":" -f2`
		if [ -n "${KEY_CONF_PORT}" ] ; then
			dbc_dbport ${KEY_CONF_PORT}
		fi

		if [ -n "${KEY_CONF_USER}" ] && [ -n "${KEY_CONF_PASS}" ] && [ -n "${KEY_CONF_SERVER_PORT}" ] && [ -n "${KEY_CONF_DB_NAME}" ] ; then
			dbc_dbuser ${KEY_CONF_USER}
			dbc_dbpass ${KEY_CONF_PASS}
			dbc_dbserver ${KEY_CONF_SERVER}
			dbc_dbname ${KEY_CONF_DB_NAME}
		fi
	;;
	esac
	dbc_dbtypes ${KEY_CONF_DB_TYPE}
fi

### Now the "normal" dbconfig-common stuff ###
db_input low keystone/auth-token || true
db_input low keystone/configure_db || true
db_go
db_get keystone/configure_db
if [ "$RET" = "true" ]; then
    if [ -f /usr/share/dbconfig-common/dpkg/config ];
    then
	dbc_dbtypes="sqlite3, mysql, pgsql"
	db_authmethod_user="password"
	dbc_basepath="/var/lib/keystone"
	. /usr/share/dbconfig-common/dpkg/config
	dbc_go keystone $@
    fi
fi
