#!/bin/sh
set -e

. /usr/share/debconf/confmodule

db_input low keystone/configure_db || true
db_go
db_get keystone/configure_db
if [ "$RET" = "true" ]; then
    if [ -f /usr/share/dbconfig-common/dpkg/config ];
    then
	dbc_dbtypes="sqlite3, mysql, pgsql"
	db_authmethod_user="password"
	dbc_basepath="/var/lib/keystone"
	. /usr/share/dbconfig-common/dpkg/config
	dbc_go keystone $@
    fi
fi
