[Unit]
Description=OpenStack Identity service
Documentation=man:keystone(1p) http://docs.openstack.org/
After=network.service mysql.service postgresql.service slapd.service rabbitmq-server.service ntp.service

[Service]
User=keystone
Group=keystone
ExecStart=/etc/init.d/keystone systemd-start
ExecStop=/etc/init.d/keystone systemd-stop
PIDFile=/var/run/keystone/keystone.pid
Restart=on-failure
Type=forking

[Install]
WantedBy=multi-user.target
